/* The navigation menu */
body {
  background-color: lavender;
  font-family: "Poppins", sans-serif;
}

.navbar {
  overflow: hidden;
  background: rgb(17, 26, 93);

}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(17, 26, 93);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(17, 26, 93);
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: rgb(17, 26, 93);
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* -------- MENU PRINCIPAL ------------------------------------------------------*/

body.dMenuPrincipal {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #434343;
}

main.cards {
  display: flex;
  padding: 32px;
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgb(17, 26, 93), rgb(165, 171, 230));
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 256px;
  margin-left: 32px;
  box-shadow: 20px 20px 50px -30px rgb(17, 26, 93);
  transition: all 0.7s;
}

main.cards section.card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

main.cards section.card:first-child {
  margin-left: 0;
}

main.cards section.card .icon {
  width: 84px;
  height: 84px;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  background-image: linear-gradient(rgb(165, 171, 230), rgb(196, 200, 237));
}

main.cards section.card button:hover {
  background-image: linear-gradient(rgb(196, 200, 237), rgb(165, 171, 230));
}

main.cards section.card h3 {
  margin: 16px 0;
}

main.cards section.card span {
  font-weight: 300;
  margin-bottom: 16px;
}


/* -------- MENU ------------------------------------------------------*/

.titulo{
  display: flex;
  text-align: center;
  flex-direction: column;
}

body.dMenus {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #434343;
}

main.cartoes {
  display: flex;
  padding: 32px;
  flex-direction: column;
}

main.cartoes section.cartao {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgb(17, 26, 93), rgb(165, 171, 230));
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 256px;
  margin-bottom: 30px;
  margin-left: 32px;
  box-shadow: 20px 20px 50px -30px rgb(17, 26, 93);
  transition: all 0.7s;
  visibility: hidden;

}

main.cartoes section.cartao:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

main.cartoes section.cartao button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  background-image: linear-gradient(rgb(165, 171, 230), rgb(196, 200, 237));
}

main.cartoes section.cartao button:hover {
  background-image: linear-gradient(rgb(196, 200, 237), rgb(165, 171, 230));
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

main.cartoes section.cartao h3 {
  margin: 16px 0;
}

main.cartoes section.cartao span {
  font-weight: 300;
  margin-bottom: 16px;
}

